include mixins
html
	head
		
		title App Login & shizzle
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
	

	body(style="padding-bottom:10rem;")
		.container
 
		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
		script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
		+nav("ThizApp", "dropdown_menu", "inverse")
			if username
				p.log logged in as #[a.link(href= "users/"+ username.id) #{username.username}]
				style. 
					.log{
					position: absolute;
					right: 10px;
					color: white;
					}
					.link
					{
					color: white;
					}
				+nav_item("/", "active") home
				+nav_item( "users/"+ username.id ) view profile 
				+nav_item("users/messages") write message
				+nav_item("users/showmessages") show all messages
				+nav_item("/logout") log out
	if username
			p.welkomsttekst Welcome #{username.username}
			p.welkomst write some messages to fill the blog - G
			p.gruwel and comment on other messages
			style. 
				.welkomsttekst
				{
				font-size: 75;
				color: #848484;
				margin-left: 100px;
				margin-top: 25px;
				font-family: Helvetica;
				text-transform: uppercase;
				}
				.welkomst
				{
				font-size: 35px;
				color: #BDBDBD;
				margin-left: 100px;
				margin-top: 5px;
				font-family: Helvetica;
				text-transform: uppercase;
				}
				.gruwel
				{
				font-size: 25px;
				color:#D8D8D8;
				margin-left: 100px;
				margin-top: 5px;
				font-family: Helvetica;
				text-transform: uppercase;
				}
if !username
	.row
			
		.col-xs-6

			+panel("New User")
				form(action='/users/new' method='post')
					input(placeholder = 'username' name='username')
					input(placeholder = 'password' name='password' type = "password")
					input(placeholder = 'email' name='email')
					input(type='submit' value='create')
					
		.col-xs-6
			+panel("Login")
				form(action='/login' method='post')
					input(placeholder = "email" name='email')
					input(placeholder = "password" name='password' type='password')
					input(type='submit' value='login')
					br
					br
					h8= message

.row
	br
	br
	br
	br
	br
	br
	br
	br
	.col-xs-12
		+panel("Footer", "success")
			p This is the footer of this website made by Kevin de Jonge