include mixins

html
	head
	body
		.container

		+nav("ThizApp", "dropdown_menu", "inverse")
				+nav_item("/") home
				+nav_item( "users/"+ username.id ) view profile 
				+nav_item("users/messages", "active") write message
				+nav_item("users/showmessages") show all messages
				+nav_item("/logout") log out
		
	.row
		
		.col-xs-6

		+panel("New User")
			form(action='/users/new' method='post')
				input(placeholder = 'username' name='username')
				input(placeholder = 'password' name='password')
				input(placeholder = 'email' name='email')
				input(type='submit' value='create')